.container {
  margin: 1vw 0px;
}
.card {
  margin: 4% 2% !important;
}
.infected {
  border-bottom: 1vw solid rgba(0, 0, 255, 0.5);
}
.recovered {
  border-bottom: 1vw solid rgba(0, 255, 0, 0.5);
}
.deaths {
  border-bottom: 1vw solid rgba(255, 0, 0, 0.5);
}
